.game_stats_container{
  position: relative;
  height: 10%;
  overflow: hidden;
  width: 90vh;
  margin: 0 auto;
}

.game_stats_table{
    position:absolute;
    overflow: hidden;
    margin: 0 auto;
    height: 70%;
    width:90%;
    left:0px;
    font-size: 2.2vh;
    width: 100%;
  }

  .game_stats_header{
    position: relative;
    color: red;
    font-weight: bold;
    font-size: 2.5vh;
    width: 30%;
    left: 0;
  }

  .timer{
    width:24%;
  }

 .left2click{
   width:20%;
 }